<div class="row">
    <div class="col-md-12">
        <div style="height:auto; width:100%" class="body_result_tipos">
            <div>
                <table class="table table-striped pep">
                    <thead class="cabeza_tabla">
                        <tr>
                            <th class="th_tabla">Tipo</th>
                            <th class="th_tabla">Acción</th>
                        </tr>
                    </thead>
                    <tbody class="tbody_tabla">
                        {{#each all_marca}}
                        <tr>
                            <td>{{ this.Nombre_marca }}</td>
                            <td><button type="submit" value="{{ this._id }}"
                                    class="btn btn-primary btn_eliminar_marca">Eliminar</button></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>