<div class="container-fluid">
    <ol style="margin-top:2%;" class="breadcrumb">
        <li class="active">Productos</li>
    </ol>
    <div style="margin-left:0%" class="row">
        <div class="col-12 col-sm-2 col-md-2 panel_izquierdo">
            <div class="filtro_productos">
                <h1>Productos</h1>
                <hr>
                <ul>
                    <li>Bicicletas</li>
                    <li>Pedales</li>
                    <li>Bielas</li>
                    <li>Llantas</li>
                    <li>Sillín</li>
                    <li>Chasis</li>

                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-10 col-md-9 col-lg-10 col-lx-10 panel_derecho">
            <div style="margin-bottom: 3%;" class="row">
                <div class="col-12 col-sm-12 col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar"
                            aria-label="Arial" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Button</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="producto_contenido">
                <div class="img_producto">
                    <img
                        src="https://purepng.com/public/uploads/large/purepng.com-lamborghinilamborghinilamborghini-automobilelamborghini-carssports-car-1701527505254qtosu.png">
                    </img>
                </div>
                <hr>
                <div class="descripcion_producto">
                    <h3>Lamborghini</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi iste dolore nisi tempora earum
                        minus iusto quas
                        obcaecati eveniet inventore minima fugiat maiores incidunt in aliquid maxime, autem sapiente
                        praesentium.</p>
                    <strong style="color: #2b3d51">
                        <p>192222 $</p>
                    </strong>
                    <button type="submit" class="btn btn-primary btn-block">Comprar</button>
                    <button type="submit" class="btn btn-primary btn-block">Detalles</button>
                    <a class="btn btn-primary btn-block" href="#" role="button"> Agregar Al Carrito <span
                            class="icon-cart"></span> </a>
                </div>
            </div>
            <div class="producto_contenido">
                <div class="img_producto">
                    <img
                        src="https://purepng.com/public/uploads/large/purepng.com-lamborghinilamborghinilamborghini-automobilelamborghini-carssports-car-1701527505254qtosu.png">
                    </img>
                </div>
                <hr>
                <div class="descripcion_producto">
                    <h3>Lamborghini</h3>
                    <p>192222 $</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi iste dolore nisi tempora earum
                        minus iusto quas
                        obcaecati eveniet inventore minima fugiat maiores incidunt in aliquid maxime, autem sapiente
                        praesentium.</p>
                    <button type="submit" class="btn btn-primary btn-block">Comprar</button>
                    <button type="submit" class="btn btn-primary btn-block">Detalles</button>
                    <a class="btn btn-primary btn-block" href="#" role="button"> Agregar Al Carrito <span
                            class="icon-cart"></span> </a>
                </div>
            </div>
            <div class="producto_contenido">
                <div class="img_producto">
                    <img
                        src="https://purepng.com/public/uploads/large/purepng.com-lamborghinilamborghinilamborghini-automobilelamborghini-carssports-car-1701527505254qtosu.png">
                    </img>
                </div>
                <hr>
                <div class="descripcion_producto">
                    <h3>Lamborghini</h3>
                    <p>192222 $</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi iste dolore nisi tempora earum
                        minus iusto quas
                        obcaecati eveniet inventore minima fugiat maiores incidunt in aliquid maxime, autem sapiente
                        praesentium.</p>
                    <button type="submit" class="btn btn-primary btn-block">Comprar</button>
                    <button type="submit" class="btn btn-primary btn-block">Detalles</button>
                    <a class="btn btn-primary btn-block" href="#" role="button"> Agregar Al Carrito <span
                            class="icon-cart"></span> </a>
                </div>
            </div>
            <div class="producto_contenido">
                <div class="img_producto">
                    <img
                        src="https://purepng.com/public/uploads/large/purepng.com-lamborghinilamborghinilamborghini-automobilelamborghini-carssports-car-1701527505254qtosu.png">
                    </img>
                </div>
                <hr>
                <div class="descripcion_producto">
                    <h3>Lamborghini</h3>
                    <p>192222 $</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi iste dolore nisi tempora earum
                        minus iusto quas
                        obcaecati eveniet inventore minima fugiat maiores incidunt in aliquid maxime, autem sapiente
                        praesentium.</p>
                    <button type="submit" class="btn btn-primary btn-block">Comprar</button>
                    <button type="submit" class="btn btn-primary btn-block">Detalles</button>
                    <a class="btn btn-primary btn-block" href="#" role="button"> Agregar Al Carrito <span
                            class="icon-cart"></span> </a>
                </div>
            </div>
            <div class="producto_contenido">
                <div class="img_producto">
                    <img
                        src="https://purepng.com/public/uploads/large/purepng.com-lamborghinilamborghinilamborghini-automobilelamborghini-carssports-car-1701527505254qtosu.png">
                    </img>
                </div>
                <hr>
                <div class="descripcion_producto">
                    <h3>Lamborghini</h3>
                    <p>192222 $</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi iste dolore nisi tempora earum
                        minus iusto quas
                        obcaecati eveniet inventore minima fugiat maiores incidunt in aliquid maxime, autem sapiente
                        praesentium.</p>
                    <button type="submit" class="btn btn-primary btn-block">Comprar</button>
                    <button type="submit" class="btn btn-primary btn-block">Detalles</button>
                    <a class="btn btn-primary btn-block" href="#" role="button"> Agregar Al Carrito <span
                            class="icon-cart"></span> </a>
                </div>
            </div>
            <div class="producto_contenido">
                <div class="img_producto">
                    <img
                        src="https://purepng.com/public/uploads/large/purepng.com-lamborghinilamborghinilamborghini-automobilelamborghini-carssports-car-1701527505254qtosu.png">
                    </img>
                </div>
                <hr>
                <div class="descripcion_producto">
                    <h3>Lamborghini</h3>
                    <p>192222 $</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi iste dolore nisi tempora earum
                        minus iusto quas
                        obcaecati eveniet inventore minima fugiat maiores incidunt in aliquid maxime, autem sapiente
                        praesentium.</p>
                    <button type="submit" class="btn btn-primary btn-block">Comprar</button>
                    <button type="submit" class="btn btn-primary btn-block">Detalles</button>
                    <a class="btn btn-primary btn-block" href="#" role="button"> Agregar Al Carrito <span
                            class="icon-cart"></span> </a>
                </div>
            </div>
            <div class="producto_contenido">
                <div class="img_producto">
                    <img
                        src="https://purepng.com/public/uploads/large/purepng.com-lamborghinilamborghinilamborghini-automobilelamborghini-carssports-car-1701527505254qtosu.png">
                    </img>
                </div>
                <hr>
                <div class="descripcion_producto">
                    <h3>Lamborghini</h3>
                    <p>192222 $</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi iste dolore nisi tempora earum
                        minus iusto quas
                        obcaecati eveniet inventore minima fugiat maiores incidunt in aliquid maxime, autem sapiente
                        praesentium.</p>
                    <button type="submit" class="btn btn-primary btn-block">Comprar</button>
                    <button type="submit" class="btn btn-primary btn-block">Detalles</button>
                    <a class="btn btn-primary btn-block" href="#" role="button"> Agregar Al Carrito <span
                            class="icon-cart"></span> </a>
                </div>
            </div>
            <div class="producto_contenido">
                <div class="img_producto">
                    <img
                        src="https://purepng.com/public/uploads/large/purepng.com-lamborghinilamborghinilamborghini-automobilelamborghini-carssports-car-1701527505254qtosu.png">
                    </img>
                </div>
                <hr>
                <div class="descripcion_producto">
                    <h3>Lamborghini</h3>
                    <p>192222 $</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi iste dolore nisi tempora earum
                        minus iusto quas
                        obcaecati eveniet inventore minima fugiat maiores incidunt in aliquid maxime, autem sapiente
                        praesentium.</p>
                    <button type="submit" class="btn btn-primary btn-block">Comprar</button>
                    <button type="submit" class="btn btn-primary btn-block">Detalles</button>
                    <a class="btn btn-primary btn-block" href="#" role="button"> Agregar Al Carrito <span
                            class="icon-cart"></span> </a>
                </div>
            </div>
            <div class="producto_contenido">
                <div class="img_producto">
                    <img
                        src="https://purepng.com/public/uploads/large/purepng.com-lamborghinilamborghinilamborghini-automobilelamborghini-carssports-car-1701527505254qtosu.png">
                    </img>
                </div>
                <hr>
                <div class="descripcion_producto">
                    <h3>Lamborghini</h3>
                    <p>192222 $</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi iste dolore nisi tempora earum
                        minus iusto quas
                        obcaecati eveniet inventore minima fugiat maiores incidunt in aliquid maxime, autem sapiente
                        praesentium.</p>
                    <button type="submit" class="btn btn-primary btn-block">Comprar</button>
                    <button type="submit" class="btn btn-primary btn-block">Detalles</button>
                    <a class="btn btn-primary btn-block" href="#" role="button"> Agregar Al Carrito <span
                            class="icon-cart"></span> </a>
                </div>
            </div>
            <div class="producto_contenido">
                <div class="img_producto">
                    <img
                        src="https://purepng.com/public/uploads/large/purepng.com-lamborghinilamborghinilamborghini-automobilelamborghini-carssports-car-1701527505254qtosu.png">
                    </img>
                </div>
                <hr>
                <div class="descripcion_producto">
                    <h3>Lamborghini</h3>
                    <p>192222 $</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi iste dolore nisi tempora earum
                        minus iusto quas
                        obcaecati eveniet inventore minima fugiat maiores incidunt in aliquid maxime, autem sapiente
                        praesentium.</p>
                    <button type="submit" class="btn btn-primary btn-block">Comprar</button>
                    <button type="submit" class="btn btn-primary btn-block">Detalles</button>
                    <a class="btn btn-primary btn-block" href="#" role="button"> Agregar Al Carrito <span
                            class="icon-cart"></span> </a>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- .col-	.col-sm-	.col-md-	.col-lg-	.col-xl- --}}