<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	{{!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Aviato E-Commerce Template">
  
  <meta name="author" content="Themefisher.com">

  <title>Aviato | E-commerce template</title>

  <!-- Mobile Specific Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
  
  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="plugins/themefisher-font/style.css"> --}}
	<!-- bootstrap.min css -->
	{{!--  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
  
  <!-- animate.css -->
  <link rel="stylesheet" href="plugins/animate-css/animate.css">
  
  <!-- Revolution Slider -->
  <link rel="stylesheet" type="text/css" href="plugins/revolution-slider/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
  <link rel="stylesheet" type="text/css" href="plugins/revolution-slider/revolution/fonts/font-awesome/css/font-awesome.css">

  <!-- REVOLUTION STYLE SHEETS -->
  <link rel="stylesheet" type="text/css" href="plugins/revolution-slider/revolution/css/settings.css">
  <link rel="stylesheet" type="text/css" href="plugins/revolution-slider/revolution/css/layers.css">
  <link rel="stylesheet" type="text/css" href="plugins/revolution-slider/revolution/css/navigation.css">
  
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/style.css"> --}}

</head>

<body id="body">
	<!-- Main Menu Section -->
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 slider">
			<ul id="cantidad" style="margin: 0; background: #f3f3f3;">
				<li class="sliderr">
					<figure class="img_slider">
						<a href="/index">
							<img src="/img/slider-6.jpg" alt="Alternate Text" />
						</a>
						<h1 class="texto_figura" style="color: black; font-size:18px">Lorem ipsum dolor sit amet,
							consectetur adipiscing elit. Duis justo diam, ullamcorper sit amet nisi ac, ornare
							bibendum nibh. Vestibulum tincidunt massa nec mauris pretium blandit. Vivamus
							pretium
							dapibus eros. Curabitur ut diam massa. Vestibulum tristique eget velit lacinia
							condimentum. Proin in sem neque. Curabitur id nisi id enim molestie pulvinar
							hendrerit
							in nulla. Vestibulum ut libero sodales, tristique quam sollicitudin, auctor neque.
							Praesent nec nisi cursus, porttitor nulla ac, ultricies enim.
							<br />
							<br />
							<button type="button" ID="Button2" class="btn btn-primary">Ver Más</button>
						</h1>
					</figure>
				</li>
				<li class="sliderr">
					<figure class="/img_slider">
						<a href="#">
							<img src="/img/slider-7.jpg" alt="Alternate Text" />
						</a>
						<h1 class="texto_figura" style="color: black; font-size:18px">Lorem ipsum dolor sit amet,
							consectetur adipiscing
							elit.
							Duis justo diam, ullamcorper sit amet nisi ac, ornare bibendum nibh. Vestibulum
							tincidunt massa nec mauris pretium blandit. Vivamus pretium dapibus eros. Curabitur
							ut
							diam massa. Vestibulum tristique eget velit lacinia condimentum. Proin in sem neque.
							Curabitur id nisi id enim molestie pulvinar hendrerit in nulla. Vestibulum ut libero
							sodales, tristique quam sollicitudin, auctor neque. Praesent nec nisi cursus,
							porttitor
							nulla ac, ultricies enim.
							<br />
							<br />
							<button type="button" ID="Button2" class="btn btn-primary">Ver Más</button>
						</h1>
					</figure>
				</li>
				<li class="sliderr">
					<figure class="/img_slider">
						<a href="#">
							<img src="/img/slider-8.jpg" alt="Alternate Text" />
						</a>
						<h1 class="texto_figura" style="color: black; font-size:18px">Lorem ipsum dolor sit amet,
							consectetur adipiscing
							elit.
							Duis justo diam, ullamcorper sit amet nisi ac, ornare bibendum nibh. Vestibulum
							tincidunt massa nec mauris pretium blandit. Vivamus pretium dapibus eros. Curabitur
							ut
							diam massa. Vestibulum tristique eget velit lacinia condimentum. Proin in sem neque.
							Curabitur id nisi id enim molestie pulvinar hendrerit in nulla. Vestibulum ut libero
							sodales, tristique quam sollicitudin, auctor neque. Praesent nec nisi cursus,
							porttitor
							nulla ac, ultricies enim.
							<br />
							<br />
							<button type="button" ID="Button2" class="btn btn-primary">Ver Más</button>
						</h1>
					</figure>
				</li>
			</ul>
			<div>
				<div class="pagination">
					<ul id="item_paginador">
					</ul>
				</div>
			</div>
			<div>
				<figcaption class="iconos_carrusel_left">
					<span class="icon-chevron-left left_slider"></span>
				</figcaption>
			</div>
			<div>
				<figcaption class="iconos_carrusel_right">
					<span class="icon-chevron-right right_slider"></span>
				</figcaption>
			</div>
		</div>
	</div>
	<section class="product-category section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title text-center">
						<h2>Product Category</h2>
					</div>
				</div>
				<div class="col-md-6">
					<div class="category-box">
						<a href="">
							<img src="/images/shop/category/category-1.jpg" alt="" />
							<div class="content">
								<h3>Men Dress</h3>
								<p>View Products</p>
							</div>
						</a>
					</div>
					<div class="category-box">
						<a href="">
							<img src="/images/shop/category/category-2.jpg" alt="" />
							<div class="content">
								<h3>Jewellery</h3>
								<p>View Products</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="category-box category-box-2">
						<a href="">
							<img src="/images/shop/category/category-3.jpg" alt="" />
							<div class="content">
								<h3>Jewellery</h3>
								<p>View Products</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="products section">
		<div class="container">
			<div class="row">
				<div class="title text-center">
					<h2>Trendy Products</h2>
				</div>
			</div>
			<div class="row">
				<div class="Productos_listas">

				</div>
				<div class="ponermodal">
				</div>
			</div>
		</div>
	</section>
	<!-- 
    Essential Scripts
    =====================================-->

	<!-- Main jQuery -->
	{{!-- <script src="https://code.jquery.com/jquery-git.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap Touchpin -->
    <script src="plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <!-- Instagram Feed Js -->
    <script src="plugins/instafeed-js/instafeed.min.js"></script>
    <!-- Video Lightbox Plugin -->
    <script src="plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <!-- Count Down Js -->
    <script src="plugins/count-down/jquery.countdown.min.js"></script>
    
    <!-- Revolution Slider -->
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>
    
    <!-- Revolution Slider -->
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="plugins/revolution-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="plugins/revolution-slider/assets/warning.js"></script>  


    <!-- Custom js -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBItRd4sQ_aXlQG_fvEzsxvuYyaWnJKETk&callback=initMap"></script>
 --}}


	{{!--
	<form id="form_imagen"  enctype="multipart/form-data">
		<p> Nombre Producto: </p>
		<input type="text" name="NombrePro">
		<br>
		<p> descripcion: </p>
		<input type="text" name="descripcion">
		<br>
		<p>precio</p>
		<input type="text" name="precio">
		<br>
		<p>imagen</p>
		<input type="file" name="imagen">
		<br>
		<hr>
		<button type="input">Subir</button>
	</form>
 	--}}

</body>

</html>