<div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 slider">
            <ul id="cantidad" style="margin: 0; background: #f3f3f3;">
                <li class="sliderr">
                    <figure class="img_slider">
                        <a href="/index">
                            <img src="img/imagen3.jpg" alt="Alternate Text" />
                        </a>
                        <h1 class="texto_figura" style="color: black; font-size:18px">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Duis justo diam, ullamcorper sit amet nisi ac, ornare
                            bibendum nibh. Vestibulum tincidunt massa nec mauris pretium blandit. Vivamus
                            pretium
                            dapibus eros. Curabitur ut diam massa. Vestibulum tristique eget velit lacinia
                            condimentum. Proin in sem neque. Curabitur id nisi id enim molestie pulvinar
                            hendrerit
                            in nulla. Vestibulum ut libero sodales, tristique quam sollicitudin, auctor neque.
                            Praesent nec nisi cursus, porttitor nulla ac, ultricies enim.
                            <br />
                            <br />
                            <button type="button" ID="Button2" class="btn btn-primary">Ver Más</button>
                        </h1>
                    </figure>
                </li>
                <li class="sliderr">
                    <figure class="img_slider">
                        <a href="#">
                            <img src="img/imagen2.jpg" alt="Alternate Text" />
                        </a>
                        <h1 class="texto_figura" style="color: black; font-size:18px">Lorem ipsum dolor sit amet,
                            consectetur adipiscing
                            elit.
                            Duis justo diam, ullamcorper sit amet nisi ac, ornare bibendum nibh. Vestibulum
                            tincidunt massa nec mauris pretium blandit. Vivamus pretium dapibus eros. Curabitur
                            ut
                            diam massa. Vestibulum tristique eget velit lacinia condimentum. Proin in sem neque.
                            Curabitur id nisi id enim molestie pulvinar hendrerit in nulla. Vestibulum ut libero
                            sodales, tristique quam sollicitudin, auctor neque. Praesent nec nisi cursus,
                            porttitor
                            nulla ac, ultricies enim.
                            <br />
                            <br />
                            <button type="button" ID="Button2" class="btn btn-primary">Ver Más</button>
                        </h1>
                    </figure>
                </li>
                <li class="sliderr">
                    <figure class="img_slider">
                        <a href="#">
                            <img src="img/imagen3.jpg" alt="Alternate Text" />
                        </a>
                        <h1 class="texto_figura" style="color: black; font-size:18px">Lorem ipsum dolor sit amet,
                            consectetur adipiscing
                            elit.
                            Duis justo diam, ullamcorper sit amet nisi ac, ornare bibendum nibh. Vestibulum
                            tincidunt massa nec mauris pretium blandit. Vivamus pretium dapibus eros. Curabitur
                            ut
                            diam massa. Vestibulum tristique eget velit lacinia condimentum. Proin in sem neque.
                            Curabitur id nisi id enim molestie pulvinar hendrerit in nulla. Vestibulum ut libero
                            sodales, tristique quam sollicitudin, auctor neque. Praesent nec nisi cursus,
                            porttitor
                            nulla ac, ultricies enim.
                            <br />
                            <br />
                            <button type="button" ID="Button2" class="btn btn-primary">Ver Más</button>
                        </h1>
                    </figure>
                </li>
            </ul>
            <div>
                <div class="pagination">
                    <ul id="item_paginador">
                    </ul>
                </div>
            </div>
            <div>
                <figcaption class="iconos_carrusel_left">
                    <span class="icon-chevron-left left_slider"></span>
                </figcaption>
            </div>
            <div>
                <figcaption class="iconos_carrusel_right">
                    <span class="icon-chevron-right right_slider"></span>
                </figcaption>
            </div>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 elemento_categoria">
            <div>
                <img src="img/imagen2.jpg" alt="Alternate Text" />
                <h2 id="oe">Ciclas Eléctricas</h2>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 elemento_categoria">
            <div>
                <img src="img/imagen2.jpg" alt="Alternate Text" />
                <h2 id="oe">Ciclas De Ruta</h2>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 elemento_categoria">
            <div>
                <img src="img/imagen2.jpg" alt="Alternate Text" />
                <h2 id="oe">BMX Mountain</h2>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div style="background: #f3f3f3;" class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"> </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 elemento_sexto">
            <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum explicabo
                temporibus iusto ipsa odit minus a, molestias eligendi doloremque asperiores rem commodi,
                quae magnam eos accusamus officia nulla praesentium ab!</h6>
            <button type="button" ID="Button4" class="btn btn-primary">Ver Más</button>
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 elemento_septimo">
            <img src="img/Corleone.jpg" alt="Alternate Text" />
        </div>
        <div style="background: #f3f3f3;" class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"> </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 octavo_elemento">
            <h1>Nuestras Marcas</h1>
            <ul>
                <li> <img src="img/corleologo.png"> </li>
                <li> <img src="img/giantlogo.png"> </li>
                <li> <img src="img/pinarellologo.png"> </li>
                <li> <img src="img/specialized.png"> </li>
            </ul>
        </div>
    </div>
</div>
