
<div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
    <b>ROOMS</b>
    <div id="rooms"></div>
</div>
<div style="float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;">
    <div id="conversation"></div>
    <input id="data" style="width:200px;" />
    <input type="button" id="datasend" value="send" />
</div>


<!--<div class="row">
    <div class="col-md-2">
        <div class="listado_chats">
            <h2>Chats</h2>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Público</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Privado</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse in">
                        <div class="panel_chat">
                            <h4> Nombre del chat</h4>
                            <button class="btn btn-primary">Ir al chat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 container ">
        <div class="card grey lighten-3 chat-room">
            <div class="card-body">
                <div class="row px-lg-2 px-2">
                    <div class="col-md-12 col-xl-12 pl-md-12 px-lg-auto px-0">
                        <div class="chat-message">
                            <ul class="list-unstyled chat">
                                <div id="poner">

                                    <div class="body_mensaje">
                                        <div class="img_mensaje">
                                            <img
                                                src="https://staticuestudio.blob.core.windows.net/buhomag/2017/02/10114005/castlevania-netflix.jpg?auto=compress,format">
                                         </div>
                                        <div class="txt_mensaje">
                                            <p>Hoqwopeiqwe 2019-07-05</p>                                           
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
                                            hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel,
                                            dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet
                                            viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam
                                            mollis. Ut justo. Suspendisse potenti.

                                            Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus
                                            metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo
                                            quis, gravida id, est. Sed lectus. Praesent elementumrus libero, faucibus
                                            adipiscing, commodo
                                            quis, gravida id, est. Sed lectus. Praesent elementum
                                            rus libero, faucibus adipiscing, commodo
                                            quis, gravida id, est. Sed lectus. Praesent elementumrus libero, faucibus
                                            adipiscing, commodo
                                            quis, gravida id, est. Sed lectus. Praesent elementumrus libero, faucibus
                                            adipiscing, commodo
                                            quis, gravida id, est. Sed lectus. Praesent elementumrus libero, faucibus
                                            adipiscing, commodo
                                            quis, gravida id, est. Sed lectus. Praesent elementumrus libero, faucibus
                                            adipiscing, commodo
                                            quis, gravida id, est. Sed lectus. Praesent elementumrus libero, faucibus
                                            adipiscing, commodo
                                            quis, gravida id, est. Sed lectus. Praesent elementumrus libero, faucibus
                                            adipiscing, commodo
                                            quis, gravida id, est. Sed lectus. Praesent elementum<br><br>                                                                                      
                                        </div>
                                    </div>
                                </div>
                                <li style="margin-top:3%;" class="white">
                                    <div class="form-group basic-textarea">
                                        <textarea class="form-control pl-2 my-0" id="message"
                                            id="exampleFormControlTextarea2" rows="3"
                                            placeholder="Type your message here..."></textarea>
                                    </div>
                                </li>
                                <button type="button" id="send_message"
                                    class="btn btn-info btn-rounded btn-sm waves-effect waves-light float-right">Send</button>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="listado_usuarios">
            <h2>Usuarios</h2>
            <div class="cuerpo_user">
                <img src="https://www.diariomotor.com/imagenes/picscache/1920x1600c/lamborghini_aventador_informacion_dm2_1920x1600c.jpg"
                    style="border-radius: 50%;">
                <h5>Opoiqwepqwieoqwe</h5>
            </div>
        </div>
    </div>
</div>-->