{{#each mensaje}}
   <b> {{name_envia}} :</b> {{mensaje}}   <br> 
{{!-- <div class="body_mensaje">
    <div class="img_mensaje">
        <img
            src="https://staticuestudio.blob.core.windows.net/buhomag/2017/02/10114005/castlevania-netflix.jpg?auto=compress,format">

    </div>
    <div class="txt_mensaje">
            {{mensaje}}
    </div>

</div> --}}

{{/each}}

